/.metadata
/ApplicationRecieverAIR/bin-debug
/ApplicationRecieverAIR/ApplicationRecieverAIR.exe
/ApplicationRecieverWeb/bin-debug
/ApplicationRecieverWeb/bin-release
/ApplicationTransmitterAndroid
/ApplicationTransmitterBlackBerry
/LibraryReciever/bin
/LibraryRecieverDesktop/bin
/LibraryTransmitter